.section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.borderLine {
  border: 1px solid rgba(255, 255, 255, 0.19);
  width: 100%;
  margin-top: 2rem;
  display: flex;
}
.h3 {
  color: rgb(107 114 128/1);
}

/* BLOG */
.blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}
.blogPost {
  backdrop-filter: blur(8px);
  background-color: hsla(0, 0%, 100%, 0.066);
  padding: 0.75rem;
  border: 1px solid hsla(0, 0%, 100%, 0.066);
  border-radius: 0.5rem;
}
